<% provide(:title, "Home") %>
<div class="center jumbotron">
<h1>Welcome to the Activity Tracker App</h1>
<h2>
  This is an activity tracker to connect to your
  Strava running and cycling data. Use this to get
  enhanced analytics.
<h2>
 <%= link_to "Sign up now!", '/users/sign_up', class: "btn btn-lg btn-primary" %>
</div>
